.register {
    
    .content {
        height: 100vh;
        background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .heading {
            font-size: 64px;
        }
    }
}